<div class="body"></div>
<div class="grad"></div>

<div class="welcome">
  <div>welcome to <span>Hamburg Airport</span></div>
</div>

<div class="gate">
  <div>gate <span>{{gate}}</span></div>
</div>

<div class="title">
  <div>URI<span>Gate III</span></div>
</div>

<div class="login">
  <!-- <input type="text" placeholder="username" name="user"><br> -->
  <input type="password" placeholder="PIN" name="password"><br>
  <input type="button" value="Login" routerLink="home" [disabled]="buttonStatus">
</div>

<div class="footer">
  <div>powered by <span>AIRSYS</span></div>
</div>
